main {
    font-family: "Arial";
    font-size: 24px;
    color: #1d916a;
}

em, li {
    font-family: "Arial";
    font-size: 24px;
    color: #1d916a;
}

.pink {
    font-family: "Arial";
    font-size: 24px;
    color: #e87acc;  
}

.bold {
    color: #63ff08;  

}

h2 {
    font-family: "Arial";
    font-size: 40px;
    color: #4019cc;
}


h2.pink {
    font-family: "Arial";
    font-size: 24px;
    color: #5a0c47;
}


#breadtext {
    color: teal;
    text-decoration: underline;
}

.box {
    border: 5px solid #5a0c47;
    display: inline-block;
    margin-bottom: 120px;
    margin-left:40px;
    padding: 16px 2px;
    width: 70px;
    height: 400px;
}